<ion-header>
  <ion-navbar>
    <ion-title>
      Telepathy
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid padding>
    <ion-col width-10>
    </ion-col>
    <ion-row>
      <ion-col>
        <p class="center">
          Generate a key on <b>one</b> device and scan (or enter it manually) on the <b>other</b>.
        </p>
      </ion-col>
    </ion-row>
    <ion-row
      *ngFor="let button of [{
        function: showKey.bind(this),
        clear: false,
        device: 'One',
        hint: 'device (eg. desktop)',
        require: 'any',
        text: 'Generate Key',
        icon: 'fa fa-qrcode fa-lg'
      }, {
        function: scanKey.bind(this),
        clear: false,
        device: 'Other',
        hint: 'device (eg. mobile)',
        require: 'native',
        text: 'Scan Key',
        icon: 'fa fa-camera fa-lg'
      }, {
        function: enterKey.bind(this),
        clear: true,
        require: 'any',
        text: 'More options...'
      }]"
      padding
    >
      <ion-col
        class="center"
        padding
      >
        <b>{{ button.device }}</b> {{ button.hint }}
        <button
          ion-button
          icon-left
          item-right
          block
          large
          [disabled]="platform.is('core') && button.require == 'native'"
          [clear]="button.clear"
          (click)="button.function()"
        >
          <ion-icon
            primary
            class="{{ button.icon }}"
            *ngIf="button.icon"
          >
          </ion-icon>
          {{ button.text }}
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
